
.fa-square-js {
    color: #ffa600;
    font-size: 40px;
}

.fa-css3-alt {
    color: #0073ff;
    font-size: 40px;
}

.fa-html5 {
    color: #ab5120;
    font-size: 40px;
}

.fa-github {
    color: #ffffff;
    font-size: 40px;
}

.fa-git-alt {
    color: #eb893f;
    font-size: 40px;
}

.fa-node-js {
    color: #3feb4a;
    font-size: 40px;
}

.fa-python {
    color: #3f6deb;
    font-size: 40px;
}

.fa-golang {
    color: #6282db;
    font-size: 40px;
}

.fa-php {
    color: #49417b;
    font-size: 40px;
}

.fa-java {
    color: #ff1717;
    font-size: 40px;
}
